@{
    ViewData["Title"] = "Home Page";
}


            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Kitap Mağazasına Hoşgeldiniz</h1>
                <hr class="divider" />
            </div>

            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Aradığınız her kategoriden kitabı bulabileceğiniz tek yer!</p>
                <a class="btn btn-primary btn-xl" href="/Book/Add">Alışverişe Başla</a>
            </div>

     
